QWidget {
    font-size: 12px;
}

QMessageBox QLabel{
    min-height: 60px;
}

QLabel {
    min-height: 22px;
}

QLineEdit {
    min-height: 28px;
}

QPushButton {
    min-height: 28px;
    max-height: 32px;
}

QComboBox {
    min-height: 28px;
    max-height: 32px;
}

QDateEdit {
    min-height: 28px;
    max-height: 32px;
}

QListWidget {
    min-height: 80px;
    max-height: 150px;
}